doctype html
html(lang="ru")
	head
		title Индивидуальный экскурсовод по Беларуси и Минску - Савко Инна
		link(rel='stylesheet' href='dev/css/concat.css')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(charset="utf-8")
		meta(name="description" content="Частные экскурсии по Беларуси и Минску: Мир и Несвиж, Сула, Хатынь, Линия Сталина, Островецкая кругосветка, Вязынка и множество других экскурсий на русском, беларуском и английском")
		link(href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/Pr6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEAEQAAAAABEQAREAAAABERABERAAABEREAEREQAAAREQAREQAAABERABERAAABERAAAREQAAERAAAAERAAAREAAAAREAABEQAAABEQABEQAAAAEREAEAAAAAAAAQAAAAAAAAAAD//wAA//8AAP//AAD5nwAA8Y8AAOGHAADBgwAA4YcAAOGHAADDwwAAx+MAAMfjAADH4wAAj+EAAL/9AAD//wAA" rel="icon" type="image/x-icon")
	body
		div.wrap
			div#mySidenav.sidenav
				a(href="javascript:void(0)" class="closebtn" onclick="closeNav()") &times; 
				a(href='#about') Обо мне
				a(href='#tours') Экскурсии
				a(href='#testi') Отзывы
				a(href='#photo') Фото
			div.screen1 
				div.wrapnavheader
					header.navheader
						p.logo 
							a(href="tel:+375445400925") +375 44 54 00 925
						ul.nav
							li 
								a(href='#about') Обо мне
							li 
								a(href='#tours') Экскурсии
							li 
								a(href='#video') Видео
							li 
								a(href='#testi') Отзывы
							li 
								a(href='#photo') Фото
							li.lang RU <i class="fa fa-sort-down" aria-hidden="true"></i>
								ul.innerList
									li 
										a(href='by.html') BY
									li 
										a(href='en.html') EN
									li 
										a(href='pl.html') PL
									li 
										a(href='lt.html') LT
						span.hiddenNav(onclick="openNav()") <i class="fa fa-bars" aria-hidden="true"></i>				
				section.bigtext
					h1 Экскурсии <br>по Беларуси
					p.desc Интересные места, увлекательные истории, индивидуальный подход.
					button 
						a(href='#form') От 350 RUB
					a(name='about')
			div.screen2
				h2 Обо мне
				p 
					i Каб любіць Беларусь нашу мілую, трэба ў розных краях пабываць!

				section.features
					div.item.item1
						<i class="fa fa-heartbeat" aria-hidden="true"></i>
						h4 Люблю Беларусь
						p Моя Беларусь – самая лучшая. Сомневаетесь? Приезжайте – и я покажу Вам настоящую Беларусь. Предлагаю вместе познакомиться с историей, загадками и тайнами белорусских городов и местечек.
					div.item.item2
						<i class="fa fa-graduation-cap" aria-hidden="true"></i>
						h4 Аттестована
						p 21.10.2016 года стала аттестованным экскурсоводом после сдачи экзамена в Национальном агентстве по туризму. Аттестация <b>действительна до 21.10.2021г.</b>
					div.item.item3
						<i class="fa fa-puzzle-piece" aria-hidden="true"></i>
						h4 Опыт работы
						p Экскурсии начала проводить еще в студенческие годы. Второй год я участвую в “Фэсце экскурсаводаў”, где с удовольствием рассказываю об учебной жизни Минска. Проходила экскурсионную практику в ТЭУП «Беларустурист». 
				section.about
					img(class='lazyload' data-src='dev/img/inna.jpg' alt='экскурсовод Инна Савко' title='Самый лучший экскурсовод в Беларуси ^_^')
					div.desc
						h3 Здравствуй, мой дорогой турист!
						p Меня зовут Инна, мне 22. Я экскурсовод. Выпускница исторического факультета БГУ, специализация – Культурное наследие и туризм.
						p Еще в школе мне очень нравилось путешествовать по Беларуси. В рамках школьных экскурсий мы ежегодно посещали различные города. В 8 классе, когда мы были на экскурсии в Бресте, я «наблюдала» за нашим экскурсоводом и мысленно «примеряла» на себя образ гида и «организатора какого-нибудь путешествия». С этого момента я серьезно задумалась о профессии экскурсовода и постепенно начала развиваться в этом направлении. Как оказалось, процесс этот бесконечен, поэтому каждая экскурсия помогает развиваться, совершенствовать свои профессиональные качества, узнавать что-то новое и, конечно, знакомиться и общаться с интересными людьми. Это здорово!
						p С удовольствием проведу для Вас и Ваших близких экскурсию по Беларуси!
						p Готова организовтаь «тур под ключ» с проживанием, питанием, посещением музеем, аквапарка, театров, агроусадеб…
						p.green Буду рада Вас видеть в Беларуси! Да сустрэчы ў Беларусі!
			div.screen3.clearfix
				h4 Блог экскурсовода
				p Подпишитесь, чтобы читать записки экскурсовода
				form.email
					input(type='text' placeholder='Введите вашу почту. Я не присылаю спам ^_^' required name='temail')
					input(type='submit' value='Подписаться')
				a(name='tours')
			div.screen4
				h2 Экскурсии
				p
					i Места, которые должен посетить каждый -)
				section.cells
					div.rowcell
						div.cell
							img(class='lazyload' data-src='dev/img/cells/1.jpg' alt='Свято Духов Кафедральный Собор в Минске' title='Свято Духов Кафедральный Собор в Минске')
						div.cell
							p 1. Обзорная экскурсия по Минску
							p Архитектура лучших проспектов и площадей, зелень парков и улиц белорусской столицы… Ожившая история и личности, повлиявшие на ход развития Минска. Легенды и загадки, интриги и расследования – все это Вас ждет в автобусно-пешеходной экскурсии по Минску.
							p Продолжительность - 3 часа
						div.cell
							img(class='lazyload' data-src='dev/img/cells/2.jpg' alt='Площадь Независимости в Минске' title='Площадь Независимости в Минске')
					div.rowcell
						div.cell
							p 2. Пешеходная экскурсия по Минску
							p Во время экскурсии Вы познакомитесь с архитектурным объектом, являющимся претендентом на включение Список Всемирного нематериального наследия ЮНЕСКО, - проспектом Независимости и примыкающей к нему - площади Независимости.
							p Продолжительность - 2 часа
						div.cell
							img(class='lazyload' data-src='dev/img/cells/3.jpg' alt='Национальная библиотека в Минске' title='Национальная библиотека в Минске')
						div.cell
							p 3. Вечерний Минск
							p Вечерняя подсветка города создаст Вам и Вашим близким романтическое и легкое настроение. Вы увидите в выигрышном свете одну из главных достопримечательностей Минска – Национальную библиотеку
							p Продолжительность - 2,5 часа
					div.rowcell
						div.cell
							img(class='lazyload' data-src='dev/img/cells/4.jpg' alt='Мирский замок' title='Мирский замок')
						div.cell
							p 4. Мир - Несвиж
							p «Мир — Несвиж» - самая популярная и востребованная экскурсия во все времена года, познакомит Вас с самыми ценными памятниками Беларуси, внесенными в список Всемирного наследия ЮНЕСКО, Мирским замком и дворцово-парковым комплексом в Несвиже.
							p Продолжительность – 4 часа.
						div.cell
							img(class='lazyload' data-src='dev/img/cells/5.jpg' alt='Несвижский замок' title='Несвижский замок')
					div.rowcell
						div.cell
							p 5. Дудутки
							p Дудутки - один из самых популярных и посещаемых музеев Беларуси, в котором можно не только познавательно и интересно провести время, но и отдохнуть, продегустировать продукцию местного производства, в том числе самогон на броваре, покататься на лошадях, прогуляться по зоосаду.
							p Продолжительность - 5 часов
						div.cell
							img(class='lazyload' data-src='dev/img/cells/6.jpg' alt='мельница в Дудутках' title='мельница в Дудутках')
						div.cell
							p 6. Беловежская пуща – поместье Деда Мороза
							p Экскурсия подарит Вам уникальную возможность познакомиться со старейшим памятником природы, внесенным в Список Всемирного наследия ЮНЕСКО - Беловежской пущей - одним из главных природных заповедников Европы, крупным туристическим центром Беларуси, куда съезжаются туристы со всего мира. 
							p Продолжительность - 16 часов
					div.rowcell
						div.cell
							img(class='lazyload' data-src='dev/img/cells/7.jpg' alt='костел в Гервятах' title='костел в Гервятах')
						div.cell
							p 7. «Островецкая кругосветка»
							p Во время экскурсии Вы познакомитесь с уникальным явлением белорусской культуры - местечко. С Вами мы остановимся и узнаем занимательные истории 6 местечек. Проездом увидим столько же. И да, конечно, нас ждет знакомство с одним из самых красивых костелов Беларуси – костелом Святой Троицы в Гервятах начала XX века.
							p Продолжительность – 10 часов.
						div.cell
							img(class='lazyload' data-src='dev/img/cells/9.jpg' alt='Сула' title='Сула')
					div.rowcell
						div.cell
							p 8. Рубежевичи – Сула
							p Панскі маёнтак "Сула" - элитный центр культурной и светской жизни XVIII века. Сегодня эта восстановленная усадьба рода Ленских представляет собой место, где можно не только отдохнуть, но и познакомиться с историей белорусских земель от времен языческих верований, эпохи средневекового рыцарства, до времен балов и салонов XVIII- XIX веков. 
							p Продолжительность - 6 часов
						div.cell
							img(class='lazyload' data-src='dev/img/cells/10.jpg' alt='Гаенскія вытокі' title='Гаенскія вытокі')
						div.cell
							p 9. Логойск – агроэкоусадьба «Гаенскія вытокі»
							p В Логойске Вы сможете набрать воды из святого источника, а также увидите главные храмы города. Затем нас ждет экскурсия и угощения от дядьки Сергея в агроэкоусадьбе «Гаенскія вытокі». Увлекательно, легко и вкусно! Поехали! 
							p Продолжительность - 16 часов
					div.rowcell
						div.cell
							img(class='lazyload' data-src='dev/img/cells/11.jpg' alt='Костел Святого Михаила Архангела' title='Костел Святого Михаила Архангела')
						div.cell
							p 10. «Вёрсты памяти Старо-Виленского шляха»
							p Экскурсия познакомит Вас с замечательным краем, который давным-давно назывался Черной Русью, а в 1930-х гг. – Западной Беларусью. Вас ждут уникальные архитектурные памятники, а с ними увлекательные истории об уроженцах этих мест и о произошедших здесь событиях. Во время экскурсии мы посетим такие места, как Залесье, Сморгонь, Кушляны, Ошмяны…
							p Продолжительность – 10 часов.
						div.cell
							img(class='lazyload' data-src='dev/img/cells/12.jpg' alt='Вёрсты памяти Старо-Виленского шляха' title='Вёрсты памяти Старо-Виленского шляха')
					div.rowcell
						div.cell
							p 11. Линия Сталина
							p Историко-культурный комплекс «Линия Сталина» – один из наиболее грандиозных фортификационных ансамблей на территории Беларуси. Историко-культурный комплекс ”Линия Сталина” представляет собой военно-исторический <b>музей под открытым небом</b>. Историческую основу музея составляют ДОТы Минского укрепрайона. 
							p Продолжительность - 5 часов
						div.cell
							img(class='lazyload' data-src='dev/img/cells/13.jpg' alt='Линия Сталина' title='Линия Сталина')
						div.cell
							p 12. д. Станьково – ЦЭТ «Станьково»
							p Экскурсия в Станьково познакомит нас с выдающимся магнатским родом, графами Чапскими. Эта небольшая деревня была родовым имением графов, где была построена усадьба и знаменитая «Скарбница», которая сохранилась и сейчас. 
							p Продолжительность - 5 часов
					div.rowcell
						div.cell
							img(class='lazyload' data-src='dev/img/cells/13-2.jpg' alt='Станьково' title='Станьков')
						div.cell
							p 13. Хатынь – Курган Славы
							p Мемориальный комплекс «Хатынь» - памятник сотням уничтоженных, сожженных белорусских деревень. Деревня, которая была сожжена вместе со 149 жителями. Мертвая деревня, которая не оставит никого равнодушным. 
							p Продолжительность - 4 часа
						div.cell
							img(class='lazyload' data-src='dev/img/cells/13-1.jpg' alt='Хатынь' title='Хатынь')


			div.screen5
				a(name='video')
				iframe.lazyload(data-src="https://www.youtube.com/embed/hVjHgzlhaYo")
				//div.label
					div.labelinner
						h3 Вдохновляйтесь! <br><br><br> <i class="fa fa-play-circle-o" aria-hidden="true"></i>
			div.screen6
				div.price
					p 
						i От
					div.pricewrap 
						span.bbig 570 р. 
						span <i>на человека</i> <br> в стоимость не <br>включены билеты и питание
					div.offer
						p В стоимость включено:
						ul
							li 
								i.fa.fa-automobile транспортное обслуживание 
							li 
								i.fa.fa-user экскурсионное обслуживание
							li 
								i.fa.fa-user сопровождение 
							li 
								i.fa.fa-ticket некоторые входные билеты
							a(name='form')

				div.form
					p 
						i Начните свое путешествие сегодня!
					p.weight Откройте для себя <br>самобытную Беларусь!
					form.lead
						input(type='text' placeholder='Ваше имя' required name='name')
						input(type='text' placeholder='Ваш телефон' required name='phone')
						input(type='submit' value='Поехали!')
					a(name='testi')
			div.screen7.ymap
				//script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad73703b16c12ded75e42e2ed9d9d7128338742c5224b98dc6fb8239405be2337&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true")
			div.screen8.lazyload(data-script='dev/js/swiper.min.js' data-link='dev/css/swiper.min.css')
				h4 Отзывы о моей работе
				div.swiper-container
					div.swiper-wrapper
						div.swiper-slide
							p.stars
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
							p “14 мая 2017 года ездили с Инной на экскурсию на Линию Сталина. Все доступно, понятно и интересно было рассказано.”
							div.testdeg
								p Коробельникова Ольга Викторовна
								p Минск, Беларусь		
						div.swiper-slide
							p.stars
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
							p “С Инной были на экскурсии в Мирский замок. Все очень понравилось. Правильно поставленная речь у Инны. Поедем еще!”
							div.testdeg
								p Светлана
								p Москва, Россия	
						div.swiper-slide
							p.stars
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
							p “Благодарим экскурсовода Савко И.А. за интересную и познавательную экскурсию.Экскурсия очень интересная, познавательная, проведена на высоком уровне. Савко И.А. – это экскурсовод на своем месте”
							div.testdeg
								p Сотрудники станции городской скорой помощи 
								p Минск, Беларусь
					div.swiper-pagination
					a(name='photo')
			div.screen9.lazyload(data-script='dev/js/jquery-2.2.4.min.js')
				h4.lazyload(data-link='dev/css/magnific-popup.css') Фото
					//
				p Подписывайтесь на меня в инстаграмме 
					span @saukoinna
				div.shotcontainer
					div.shotrow
						div.shot
							a.image-popup-vertical-fit(href='dev/img/gallery/001b.jpg')
								img(class='lazyload' width='270px' height='270px' data-src='dev/img/gallery/001.jpg')
						div.shot
							a.image-popup-vertical-fit(href='dev/img/gallery/002b.jpg')
								img(class='lazyload' width='270px' height='270px' data-src='dev/img/gallery/002.jpg')
						div.shot
							a.image-popup-vertical-fit(href='dev/img/gallery/003b.jpg')
								img(class='lazyload' width='270px' height='270px' data-src='dev/img/gallery/003.jpg')
						div.shot
							a.image-popup-vertical-fit(href='dev/img/gallery/004b.jpg')
								img(class='lazyload' width='270px' height='270px' data-src='dev/img/gallery/004.jpg')
			div.screen10
				div.column
					p
						a(href="tel:+375445400925") +375 44 54 00 925					
				div.column
					ul
						li 
							a(href='#about') Обо мне
						li 
							a(href='#tours') Экскурсии
						li 
							a(href='#video') Видео
						li 
							a(href='#testi') Отзывы
						li 
							a(href='#photo') Фото						
				div.column
					ul
						li 
							a(href='by.html') Па-беларуску
						li 
							a(href='en.html') In English
						li 
							a(href='pl.html') Polski
						li 
							a(href='lt.html') Lietuvių

				div.column
					p 
						a(href='https://vk.com/tripsinbelarus')
							i.fa.fa-vk(aria-hidden="true")

					p 
						noindex © 2017 Quick Launch Cover. <br> All rights reserved
					p
						b Адрес офиса:
					p г. Минск, ул. Пушкина, д.1

		script.
						type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter44704858 = new Ya.Metrika({ id:44704858, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
		script(src='https://use.fontawesome.com/b67eda653c.js' defer)
		script(src='dev/js/lazysizes.min.js' defer)       	
		script(src='dev/js/ls.unveilhooks.min.js' defer)       	
		//script(src='dev/js/ls.bgset.min.js' defer)       	
		script(src='dev/js/jquery-2.2.4.min.js' defer)       	
		script(src='dev/js/custom.js' defer)