@media only screen and (max-width:1000px){
	
	.screen1 div.wrapnavheader  section.bigtext h1
		{
			font-size:8em;
		}
	.navheader
		{
			width:100%;
			left:0;
		}
	section.features
		{
			flex-wrap:wrap;
		}	

}//end of 1000px


@media only screen and (max-width:800px){

.screen1 
{
	div.wrapnavheader {


	.navheader
		{
			ul.nav
				{
					display:none
				}

			span.hiddenNav {display:block; float:right;}	
		}
	}	
	section.bigtext h1
		{
			font-size:4em
		}

}

.screen2
{
	section.about img
		{
			float:none;
			margin:0 auto;	
		}

}

div.screen3 h4
	{
		font-size:2em
	}

}//end of 800px